Repository opsdroid/opsdroid, pull requests merged in 2018-02, with the labels that each got.

#465 Add long description, classifiers and update info in setup.py
  setup.py
Labels: documentation, enhancement

#459 add message reactions
  docs/extending/connectors.md
  opsdroid/connector.py
  opsdroid/message.py
  tests/test_connector.py
  tests/test_message.py
Labels: enhancement

#461 Fix reload
  opsdroid/__main__.py
  opsdroid/core.py
  opsdroid/loader.py
  tests/test_core.py
  tests/test_loader.py
Labels: breaking, bug

#466 Add no-dep flag
  docs/configuration-reference.md
  opsdroid/loader.py
  tests/test_loader.py
Labels: enhancement
