Repository opsdroid/opsdroid, pull requests merged in 2020-09, with the labels that each got.

#1626 Removed Pyup badge from README (fixes #1623)
  README.md
Labels: documentation

#1624 Started conversion of skill and web tests
  opsdroid/skill/tests/test_skill.py
  opsdroid/tests/test_web.py
  tests/test_skill.py
  tests/test_web.py
Labels: tests

#1632 Migrate test_matchers.py to pytest
  opsdroid/tests/test_matchers.py
  tests/test_matchers.py
Labels: tests

#1634 Convert test parser format to pytest
  opsdroid/parsers/tests/test_parser_format.py
  tests/test_parser_format.py
Labels: tests

#1636 Add Language parameter to configuration example
  opsdroid/configuration/example_configuration.yaml
Labels: documentation

#1640 Add Hindi translations to localize opsdroid
  opsdroid/locale/hi/LC_MESSAGES/opsdroid.po
Labels: documentation, hacktoberfest
