Repository opsdroid/opsdroid, pull requests merged in 2020-08, with the labels that each got.

#1608 mongo test from unittest to pytest
  opsdroid/database/mockmodules/mongo/mongo_database.py
  opsdroid/database/mongo/tests/test_mongo.py
  tests/test_database_mongo.py
Labels: tests

#1497 Add Twitch Connector
  .github/labeler.yml
  docs/connectors/index.md
  docs/connectors/twitch.md
  opsdroid/connector/twitch/__init__.py
  opsdroid/connector/twitch/events.py
  opsdroid/connector/twitch/tests/test_connector_twitch.py
  opsdroid/connector/twitch/tests/twitch.json
  opsdroid/const.py
  opsdroid/events.py
  requirements_test.txt
Labels: connector

#1567 Add optional dependencies by moving requirements to setup.cfg
  .github/workflows/ci.yml
  .readthedocs.yml
  Dockerfile
  docs/contributing/workflow.md
  docs/installation.md
  requirements.txt
  requirements_test.txt
  setup.cfg
  setup.py
  tests/test_loader.py
  tox.ini
Labels: enhancement

#1620 Converted the test_database_sqlite.py file to a pytest
  tests/test_database_sqlite.py
Labels: tests

#1622 Migrate test_logging.py to pytest
  opsdroid/tests/test_logging.py
  tests/test_logging.py
Labels: tests
