Repository opsdroid/opsdroid, pull requests merged in 2020-05, with the labels that each got.

#1461 I tried to fix outdated Documentation
  docs/connectors/custom.md
Labels: documentation

#1466 Reload opsdroid if a local module is modified
  opsdroid/core.py
  opsdroid/loader.py
  requirements.txt
  tests/mockmodules/skills/broken_skill.py
  tests/test_core.py
  tests/test_loader.py
Labels: enhancement

#1476 Fix custom config path being ignored during reload
  opsdroid/cli/start.py
  opsdroid/core.py
Labels: bug

#1477 Fix config path for reload
  opsdroid/core.py
Labels: bug

#1479 Labeler doesn't work from forks so switching to a cron action
  .github/workflows/labeler.yml
Labels: bug

#1478 Add support for env var expansion in JSON configs
  opsdroid/configuration/__init__.py
  tests/configs/minimal_with_envs.json
  tests/test_configuration.py
Labels: bug

#1481 Rename sqlite database location config option to 'path' to match other config
  docs/databases/sqlite.md
  opsdroid/database/sqlite/__init__.py
  tests/test_database_sqlite.py
Labels: database, enhancement

#1485 Add convenience functions for getting connectors and databases
  docs/skills/index.md
  opsdroid/core.py
  opsdroid/database/__init__.py
  tests/test_core.py
Labels: connector, database, enhancement

#1500 Fix failing test
  tests/test_cli.py
Labels: tests

#1504 Fix webex teams config
  opsdroid/connector/webexteams/__init__.py
  tests/test_connector_webexteams.py
Labels: bug

#1503 Dockerfile: add g++ and linux-headers to container
  Dockerfile
Labels: enhancement

#1506 Change test folder structure and migrate facebook connector tests to pytest
  MANIFEST.in
  opsdroid/conftest.py
  opsdroid/connector/facebook/__init__.py
  opsdroid/connector/facebook/tests/test_connector_facebook.py
  requirements_test.txt
  setup.cfg
  tests/test_connector_facebook.py
Labels: tests
