Repository opsdroid/opsdroid, pull requests merged in 2020-07, with the labels that each got.

#1555 Fix KeyError exception raised when using parsers
  opsdroid/const.py
  opsdroid/core.py
  opsdroid/helper.py
  tests/test_core.py
  tests/test_helper.py
Labels: parser

#1584 Changed to self.opsdroid.send
  docs/skills/matchers/crontab.md
Labels: documentation

#1599 Add xfail to watchdog test, fix deprecation warning for logging
  opsdroid/database/sqlite/__init__.py
  tests/test_core.py
Labels: tests

#1598 Change helper message to more accurately reflect reality; add link to…
  opsdroid/helper.py
Labels: documentation
