Repository opsdroid/opsdroid, pull requests merged in 2020-10, with the labels that each got.

#1641 Handle KeyError exception when requesting twitch token
  opsdroid/connector/slack/__init__.py
  opsdroid/connector/twitch/__init__.py
  opsdroid/connector/twitch/tests/test_connector_twitch.py
  opsdroid/database/matrix/__init__.py
  setup.cfg
  tests/test_connector_matrix.py
  tests/test_connector_slack.py
  tests/test_parser_rasanlu.py
Labels: connector/twitch, hacktoberfest

#1642 Add a SIGHUP handler to reload opsdroid
  opsdroid/core.py
  tests/test_core.py
Labels: enhancement

#1650 Add match_catchall matcher
  docs/skills/matchers/catchall.md
  docs/skills/matchers/index.md
  opsdroid/core.py
  opsdroid/matchers.py
  opsdroid/parsers/catchall.py
  opsdroid/parsers/tests/test_parser_catchall.py
  tests/test_constraints.py
  tests/test_core.py
Labels: enhancement

#1647 Fix Hindi translation and translate more strings
  opsdroid/locale/hi/LC_MESSAGES/opsdroid.po
Labels: documentation, enhancement

#1652 Fix typo on documentation - Gitter
  docs/connectors/gitter.md
Labels: documentation

#1648 Migrate helper and connector tests to pytest
  opsdroid/conftest.py
  opsdroid/tests/test_connector.py
  opsdroid/tests/test_helper.py
  tests/test_connector.py
Labels: tests

#1653 Add twitch to config example
  opsdroid/configuration/example_configuration.yaml
Labels: documentation

#1649 Handle ibm watson import error, convert watson tests to pyttest
  opsdroid/parsers/tests/test_parser_watson.py
  opsdroid/parsers/watson.py
  setup.cfg
  tests/test_parser_watson.py
Labels: parser, tests

#1661 Example flip coin
  docs/examples/flip-a-coin.md
  docs/examples/index.md
Labels: documentation

#1659 Fix broken webhook - use base_url from web or twitch config
  opsdroid/connector/twitch/__init__.py
  opsdroid/connector/twitch/tests/test_connector_twitch.py
Labels: connector/twitch

#1657 Upgrade Python in opsdroid docker containers to 3.8
  Dockerfile
Labels: installation/packaging

#1662 Move quickstart to new file and expand it
  README.md
  docs/index.md
  docs/quickstart.md
Labels: documentation

#1667 Add some links to the playground
  README.md
  docs/examples/index.md
  docs/index.md
  docs/quickstart.md
Labels: documentation
