Repository opsdroid/opsdroid, pull requests merged in 2020-11, with the labels that each got.

#1669 Add docs on exposing Opsdroid to the internet and update log message with URL
  docs/exposing.md
  docs/index.md
  opsdroid/web.py
Labels: documentation

#1665 Migrate Telegram connector to webhooks
  .readthedocs.yml
  docs/connectors/telegram.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/connector/telegram/__init__.py
  opsdroid/connector/telegram/events.py
  opsdroid/connector/telegram/tests/test_connector_telegram.py
  opsdroid/events.py
  setup.cfg
  tests/test_connector_telegram.py
Labels: connector/telegram

#1683 switched json load to use object_hook to fix data serialization
  opsdroid/database/redis/__init__.py
Labels: database
