Repository opsdroid/opsdroid, pull requests merged in 2021-10, with the labels that each got.

#1835 Use aioredis 2.0 for redis database
  opsdroid/database/redis/__init__.py
  opsdroid/database/redis/tests/test_redis.py
  setup.cfg
Labels: installation/packaging, tests, database

#1836 Deploy docker images to github container registry
  .github/workflows/deploy.yml
  docs/installation.md
  docs/maintaining/making-a-release.md
Labels: documentation, installation/packaging, hacktoberfest-accepted

#1840 Add label configs for the new teams connector
  .github/labeler.yml
  .github/release-drafter.yml
Labels: installation/packaging
