Repository opsdroid/opsdroid, pull requests merged in 2021-06, with the labels that each got.

#1781 #1756 fixes compatibility with Rasa >= 2.X.X
  docs/skills/matchers/rasanlu.md
  opsdroid/const.py
  opsdroid/parsers/rasanlu.py
  tests/test_parser_rasanlu.py
Labels: documentation, parser, tests

#1778 Update docs and unit test after PR #1776
  docs/connectors/mattermost.md
  opsdroid/connector/mattermost/__init__.py
  tests/test_connector_mattermost.py
Labels: connector, documentation, tests

#1788 Add Slack BlockAction match_event for action_id and block_id.
  opsdroid/connector/slack/create_events.py
Labels: connector, connector/slack

#1790 Fix broken docs builds
  setup.cfg
Labels: installation/packaging
