Repository opsdroid/opsdroid, pull requests merged in 2021-07, with the labels that each got.

#1791 Docs - Add slack match_event params
  docs/connectors/slack.md
Labels: documentation

#1795 Add in capability to supply `user` and `password` with mongodb
  docs/databases/mongo.md
  opsdroid/database/mongo/__init__.py
  opsdroid/database/mongo/tests/test_mongo.py
Labels: database, documentation, tests

#1800 Migrate gitter tests to pytest
  opsdroid/connector/gitter/__init__.py
  opsdroid/connector/gitter/connector.py
  opsdroid/connector/gitter/tests/responses/gitter_bot_message.json
  opsdroid/connector/gitter/tests/responses/gitter_connect.json
  opsdroid/connector/gitter/tests/responses/gitter_message.json
  opsdroid/connector/gitter/tests/responses/gitter_send_message.json
  opsdroid/connector/gitter/tests/test_connector_gitter.py
  tests/test_connector_gitter.py
Labels: connector, connector/gitter, tests

#1802 make opsdroid dynamic module actually importable
  opsdroid/const.py
  tests/test_events.py
Labels: tests
