Repository opsdroid/opsdroid, pull requests merged in 2021-09, with the labels that each got.

#1822 Add Slash command support for Slack Connector
  docs/connectors/slack.md
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/create_events.py
  opsdroid/connector/slack/events.py
  opsdroid/connector/slack/tests/responses/payload_slash_command.urlencoded
  opsdroid/connector/slack/tests/test_create_events.py
  opsdroid/connector/slack/tests/test_events.py
  opsdroid/testing/external_api.py
Labels: documentation, tests, connector, connector/slack

#1799 Add collection to opsdroid mongo database module
  docs/databases/mongo.md
  docs/skills/memory.md
  opsdroid/database/mockmodules/mongo/mongo_database.py
  opsdroid/database/mongo/__init__.py
  opsdroid/database/mongo/tests/test_mongo.py
  setup.py
Labels: documentation, installation/packaging, tests, database

#1832 Fixed an errant entry into the MongoDB documentation
  docs/databases/mongo.md
Labels: documentation
