Repository opsdroid/opsdroid, pull requests merged in 2021-11, with the labels that each got.

#1855 Allow skip training rasa model on startup
  docs/configuration.md
  docs/skills/matchers/rasanlu.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/core.py
Labels: documentation, parser

#1849 Update example config and slack docs
  docs/connectors/gitter.md
  docs/connectors/slack.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/connector/slack/connector.py
Labels: documentation, connector, connector/slack

#1860 Add support for mongodb+srv:// urls in MongoDB backend
  docs/databases/mongo.md
  opsdroid/database/mongo/__init__.py
  opsdroid/database/mongo/tests/test_mongo.py
  setup.cfg
Labels: documentation, installation/packaging, tests, database

#1866 Pin dialogflow package
  setup.cfg
Labels: installation/packaging

#1869 Add Gitlab Connector
  docs/_static/custom.css
  docs/connectors/gitlab.md
  docs/connectors/index.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/connector/gitlab/__init__.py
  opsdroid/connector/gitlab/connector.py
  opsdroid/connector/gitlab/events.py
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/bad_json.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/confidential_issue_created.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/generic_issue.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/generic_mr.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/issue_closed.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/issue_created.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/issue_label_update.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/issue_labeled.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/issue_message_edited.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_approved.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_closed.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_label_update.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_labeled.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_merged.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/mr_opened.json
  opsdroid/connector/gitlab/tests/gitlab_response_payloads/push.json
  opsdroid/connector/gitlab/tests/test_connector_gitlab.py
  opsdroid/const.py
  opsdroid/testing/utils.py
Labels: documentation, tests, connector
