Repository opsdroid/opsdroid, pull requests merged in 2021-01, with the labels that each got.

#1692 Do not parse own messages
  docs/connectors/gitter.md
  opsdroid/connector/gitter/__init__.py
  tests/test_connector_gitter.py
Labels: connector/gitter

#1558 Improve test machinery and rewrite GitHub connector tests
  .coveragerc
  .readthedocs.yml
  codecov.yml
  docs/conf.py
  docs/contributing/testing.md
  docs/index.md
  docs/testing.md
  opsdroid/configuration/validation.py
  opsdroid/conftest.py
  opsdroid/connector/github/__init__.py
  opsdroid/connector/github/tests/responses/github_send_failure.json
  opsdroid/connector/github/tests/responses/github_user.json
  opsdroid/connector/github/tests/responses/github_user_bad_credentials.json
  opsdroid/connector/github/tests/test_connector_github.py
  opsdroid/loader.py
  opsdroid/testing/__init__.py
  opsdroid/testing/const.py
  opsdroid/testing/external_api.py
  opsdroid/testing/fixtures.py
  opsdroid/testing/mockmodules/__init__.py
  opsdroid/testing/mockmodules/connectors/__init__.py
  opsdroid/testing/mockmodules/connectors/connector_bare.py
  opsdroid/testing/mockmodules/connectors/connector_mocked.py
  opsdroid/testing/mockmodules/connectors/mocked/__init__.py
  opsdroid/testing/mockmodules/databases/database.py
  opsdroid/testing/mockmodules/skills/__init__.py
  opsdroid/testing/mockmodules/skills/broken_skill.py
  opsdroid/testing/mockmodules/skills/hello/__init__.py
  opsdroid/testing/mockmodules/skills/schema_skill/__init__.py
  opsdroid/testing/mockmodules/skills/skill/skilltest/__init__.py
  opsdroid/testing/mockmodules/skills/skill/skilltest/mock.py
  opsdroid/testing/mockmodules/skills/temp_skill.py
  opsdroid/testing/mockmodules/skills/test_notebook.ipynb
  opsdroid/testing/tests/example.json
  opsdroid/testing/tests/test_testing.py
  opsdroid/testing/utils.py
  opsdroid/tests/test_helper.py
  opsdroid/tests/test_web.py
  requirements_readthedocs.txt
  setup.cfg
  tests/test_configuration.py
  tests/test_core.py
  tests/test_loader.py
  tests/test_parser_event_type.py
Labels: tests

#1709 Use pre-commit in tox for lint
  .pre-commit-config.yaml
  setup.cfg
  tests/test_connector_shell.py
  tests/test_connector_websocket.py
  tox.ini
Labels: tests

#1710 Move most of the magic to the mock_api_obj fixture
  .codecov.yaml
  opsdroid/testing/external_api.py
  opsdroid/testing/fixtures.py
  opsdroid/testing/tests/test_testing.py
Labels: tests

#1721 Fix decryption of events and default end to end encryption to off in the matrix connector
  docs/connectors/matrix.md
  opsdroid/connector/matrix/connector.py
  tests/test_connector_matrix.py
  tests/test_database_matrix.py
Labels: connector/matrix

#1734 Upgrade slackclient to slack_sdk >= 3.2.0
  opsdroid/connector/slack/__init__.py
  setup.cfg
  tests/test_connector_slack.py
  tests/test_connector_slack_creator.py
Labels: connector/slack, enhancement
