Repository opsdroid/opsdroid, pull requests merged in 2021-05, with the labels that each got.

#1771 Fix typos
  docs/overview.md
Labels: documentation

#1769 Add search messages method to Slack Connector
  .readthedocs.yml
  docs/connectors/slack.md
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/tests/responses/method_conversations.history.json
  opsdroid/connector/slack/tests/responses/method_conversations.history_first_page.json
  opsdroid/connector/slack/tests/responses/method_conversations.history_second_page.json
  opsdroid/connector/slack/tests/test_connector.py
Labels: connector, connector/slack, documentation, tests

#1777 fix nonetype iterable raw_event
  opsdroid/connector/slack/connector.py
Labels: connector, connector/slack

#1774 Add kwargs to Message constructor in Mattermost connector
  opsdroid/connector/mattermost/__init__.py
  tests/test_connector_mattermost.py
Labels: connector/mattermost

#1776 Do not parse own messages in Mattermost connector
  opsdroid/connector/mattermost/__init__.py
Labels: connector/mattermost
