Repository opsdroid/opsdroid, pull requests merged in 2021-08, with the labels that each got.

#1809 Pin aioredis to v1
  setup.cfg
Labels: database, installation/packaging

#1808 Fix GitHub event creation
  opsdroid/connector/github/__init__.py
  opsdroid/connector/github/tests/test_connector_github.py
Labels: connector, connector/github, tests

#1811 Add logging, exception handling, and verification to skills-based tests for Github connector
  opsdroid/connector/github/tests/test_connector_github.py
Labels: connector, connector/github, tests

#1812 GitHub fix labels
  opsdroid/connector/github/__init__.py
  opsdroid/connector/github/events.py
  opsdroid/connector/github/tests/test_connector_github.py
Labels: connector, connector/github, tests

#1814 Update Event Flow Diagram
  docs/diagrams/event-flow.drawio
  docs/diagrams/event-flow.png
  docs/diagrams/event-flow.svg
  docs/overview.md
Labels: documentation

#1818 Fixed contributing link
  README.md
Labels: documentation

#1821 Add Push event for GitHub connector
  docs/connectors/github.md
  opsdroid/connector/github/__init__.py
  opsdroid/connector/github/events.py
  opsdroid/connector/github/tests/github_response_payloads/push.json
  opsdroid/connector/github/tests/test_connector_github.py
Labels: documentation, tests, connector, connector/github

#1819 Fix broken contributing links
  README.md
  docs/index.md
Labels: documentation

#1823 Adjust Slack instructions to account for necessary verification step
  docs/connectors/slack.md
Labels: documentation

#1820 Multistage dockerfile
  Dockerfile
  setup.cfg
  tox.ini
Labels: documentation, installation/packaging, tests, connector, database, connector/gitter
