Repository opsdroid/opsdroid, pull requests merged in 2021-02, with the labels that each got.

#1739 Fix get from database when content is empty
  .github/labeler.yml
  opsdroid/database/matrix/__init__.py
  tests/test_database_matrix.py
Labels: bug, database

#1738 Add delete into memory.md
  docs/skills/memory.md
Labels: documentation

#1735 stocks-portfolio example
  docs/examples/index.md
  docs/examples/stocks-portfolio.md
Labels: documentation

#1707 Add support to login to the Matrix connector with an access_token
  opsdroid/connector/github/tests/test_connector_github.py
  opsdroid/connector/matrix/connector.py
  opsdroid/connector/matrix/tests/conftest.py
  opsdroid/connector/matrix/tests/responses/empty_sync_response.json
  opsdroid/connector/matrix/tests/test_connector_connect.py
  opsdroid/core.py
  opsdroid/testing/external_api.py
  opsdroid/testing/tests/test_testing.py
  setup.cfg
  tests/test_connector_matrix.py
Labels: connector/matrix

#1741 updated TWITCH_IRC_MESSAGE_REGEX to prevent greedy consumption of :'s
  opsdroid/const.py
Labels: bug, connector/twitch

#1743 Update mentions of Riot to Element
  .github/ISSUE_TEMPLATE/general.md
  README.md
  docs/configuration.md
  docs/connectors/custom.md
  docs/connectors/matrix.md
  docs/connectors/telegram.md
  docs/contributing/index.md
  docs/contributing/new_modules.md
  docs/databases/custom.md
  docs/examples/how-are-you.md
  docs/examples/stocks-portfolio.md
  docs/examples/weather.md
  docs/index.md
  docs/maintaining/overview.md
  docs/skills/index.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/connector/matrix/html_cleaner.py
Labels: connector, connector/matrix, documentation

#1742 Always use room state to get display names in Matrix connector
  opsdroid/connector/matrix/connector.py
  opsdroid/connector/matrix/tests/test_event_parsing.py
  tests/test_connector_matrix.py
Labels: connector, connector/matrix, installation/packaging, tests

#1745 twitch connector: fix typo in documentation for forward-url
  docs/connectors/twitch.md
  opsdroid/configuration/example_configuration.yaml
Labels: connector/twitch, documentation

#1747 Twitch webhook lease time
  docs/connectors/twitch.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/connector/twitch/__init__.py
Labels: connector, connector/twitch, documentation

#1748 s/encryption_enabled/enable_encryption in matrix documentation
  docs/connectors/matrix.md
Labels: documentation

#1752 Fix matrix connector sync_token book keeping and log on successful connect
  opsdroid/connector/matrix/connector.py
Labels: connector, connector/matrix
