Repository opsdroid/opsdroid, pull requests merged in 2022-12, with the labels that each got.

#1966 Replace whitelist with allowlist to see if it fixes CI
  tox.ini
Labels: installation/packaging

#1967 Fix CI: increase the timeout to allow MacOS test to run
  .github/workflows/ci.yml
Labels: installation/packaging

#1969 rasanlu: Don't encode intents to ascii
  opsdroid/parsers/rasanlu.py
  tests/test_parser_rasanlu.py
Labels: parser, tests

#1972 Docs: correct Rasa port in Docker run command
  docs/skills/matchers/rasanlu.md
Labels: documentation

#1971 rasanlu: return a proper error when Rasa is not reachable
  opsdroid/core.py
  opsdroid/parsers/rasanlu.py
  tests/test_parser_rasanlu.py
Labels: parser, tests

#1973 CI: fix Tox docker run
  tox.ini
Labels: installation/packaging

#1964 Support for Rasa entity extraction with roles
  docs/skills/matchers/rasanlu.md
  opsdroid/parsers/rasanlu.py
  tests/test_parser_rasanlu.py
Labels: parser, tests
