Repository opsdroid/opsdroid, pull requests merged in 2022-04, with the labels that each got.

#1901 Update black to 22.3.0
  .pre-commit-config.yaml
  opsdroid/connector/twitch/__init__.py
Labels: installation/packaging

#1898 Docker: opsdroid should not be a member of root
  Dockerfile
Labels: installation/packaging

#1902 Handle wit.ai api response when multiple values are returned
  opsdroid/parsers/witai.py
  tests/test_parser_witai.py
Labels: parser

#1767 Add Rich to logging
  docs/configuration.md
  opsdroid/cli/start.py
  opsdroid/cli/utils.py
  opsdroid/configuration/example_configuration.yaml
  opsdroid/logging.py
  opsdroid/tests/test_logging.py
  setup.cfg
Labels: installation/packaging

#1889 Improved grammar and typos
  docs/examples/stocks-portfolio.md
Labels: documentation

#1903 Allow opsdroid to reply in a thread with Blocks
  opsdroid/connector/slack/connector.py
Labels: connector, connector/slack
