Repository opsdroid/opsdroid, pull requests merged in 2022-07, with the labels that each got.

#1935 Add CLI option to print config file path
  opsdroid/cli/config.py
  opsdroid/cli/tests/test_config.py
Labels: tests

#1937 Build Docker dev tag from main/master branch on each commit
  .github/workflows/deploy-docker-dev.yml
Labels: installation/packaging

#1934 Add middleware to aiohttp server to handle cors request
  docs/configuration.md
  opsdroid/configuration/example_configuration.yaml
  opsdroid/web.py
  setup.cfg
Labels: documentation, installation/packaging

#1942 Add auto mode for pytest
  setup.cfg
Labels: installation/packaging
