Repository opsdroid/opsdroid, pull requests merged in 2022-05, with the labels that each got.

#1913 fix: Remove obsolete in-tree-build are from Dockerfile
  Dockerfile
Labels: installation/packaging

#1915 Fix dead links
  docs/quickstart.md
Labels: documentation

#1919 Fix broken link overview.md
  docs/overview.md
Labels: documentation

#1916 Fix dead links
  docs/packaging.md
Labels: documentation

#1917 Fix broken links
  docs/contributing/index.md
Labels: documentation

#1911 Remove error log and replace with debug log
  opsdroid/connector/slack/connector.py
Labels: connector, connector/slack

#1921 Update dead links skills/index.md
  docs/skills/index.md
Labels: documentation

#1907 Remove python 3.7 from Ci and add python 3.10
  .github/workflows/ci.yml
  docs/maintaining/supported-python-versions.md
  setup.cfg
  tox.ini
Labels: documentation, installation/packaging

#1923 Fixing KeyErrors on messages without text
  opsdroid/connector/telegram/__init__.py
Labels: connector, connector/telegram

#1906 Add Modal Feature to Slack Connector
  docs/connectors/slack.md
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/create_events.py
  opsdroid/connector/slack/events.py
  opsdroid/connector/slack/tests/responses/payload_view_submission.urlencoded
  opsdroid/connector/slack/tests/test_connector.py
  opsdroid/connector/slack/tests/test_create_events.py
Labels: documentation, tests, connector, connector/slack

#1908 Search Channel id by name
  docs/connectors/slack.md
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/tests/responses/method_conversations.list_first_page.json
  opsdroid/connector/slack/tests/responses/method_conversations.list_last_page.json
  opsdroid/connector/slack/tests/test_connector.py
  opsdroid/connector/slack/tests/test_create_events.py
Labels: documentation, tests, connector, connector/slack

#1925 Fix documentation urls
  docs/connectors/custom.md
  docs/connectors/github.md
  docs/connectors/slack.md
  docs/connectors/teams.md
  docs/contributing/issues.md
  docs/contributing/new_modules.md
  docs/examples/flip-a-coin.md
  docs/examples/how-are-you.md
  docs/examples/index.md
  docs/maintaining/overview.md
Labels: documentation
