Repository opsdroid/opsdroid, pull requests merged in 2023-02, with the labels that each got.

#1961 Added retry timer for Slack API rate limit threshold + ability to reply to other bots & within a thread using Blocks
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/create_events.py
  opsdroid/connector/slack/events.py
  opsdroid/connector/slack/tests/test_connector.py
Labels: connector, connector/slack

#1979 Update Python and Alpine base image
  Dockerfile
Labels: installation/packaging

#1983 Report unhandled exceptions as warnings
  opsdroid/connector/matrix/tests/test_connector_connect.py
  opsdroid/core.py
Labels: tests
