Repository opsdroid/opsdroid, pull requests merged in 2024-04, with the labels that each got.

#2027 Fix versioneer detection
  opsdroid/__init__.py
  setup.cfg
  setup.py
Labels: bug, installation/packaging

#2026 Fix broken test
  opsdroid/connector/matrix/tests/test_connector_connect.py
  opsdroid/connector/matrix/tests/test_event_parsing.py
Labels: bug, tests, connector, connector/matrix

#2021 EditedMessage should use 'username' as 'user' is not present in slack API response
  opsdroid/connector/slack/create_events.py
Labels: connector, connector/slack

#2017 fix(matrix/spec): `filter_id` is a string, not an integer
  opsdroid/connector/matrix/connector.py
Labels: connector, connector/matrix

#2015 Fix mongo database error
  opsdroid/database/mongo/__init__.py
Labels: database

#1988 Adding ARM build suppport
  .github/workflows/deploy-docker-dev.yml
  .github/workflows/deploy-docker.yml
Labels: installation/packaging

#1982 Add handling of LeaveRoom event for matrix.
  opsdroid/connector/matrix/connector.py
  opsdroid/connector/matrix/tests/test_connector_actions.py
Labels: tests, connector, connector/matrix

#1986 Raise an exception in matrix event creator if request fails
  opsdroid/connector/matrix/connector.py
  opsdroid/connector/matrix/create_events.py
  opsdroid/connector/matrix/exceptions.py
Labels: bug, connector, connector/matrix

#1989 Fix the currently broken facebook connector
  docs/connectors/facebook.md
  opsdroid/connector/facebook/__init__.py
Labels: documentation, connector, connector/facebook

#1985 GH#1737 Retain '@' when replacing usernames
  opsdroid/connector/slack/connector.py
  opsdroid/connector/slack/tests/test_connector.py
Labels: bug, tests, connector, connector/slack

#1995 A couple of small fixes to the matrix connector docs
  docs/connectors/matrix.md
Labels: documentation

#1998 Fix for #1784: Added paramter "filesize"
  opsdroid/connector/matrix/connector.py
Labels: connector, connector/matrix

#2029 Switch to Python OLM package
  .github/workflows/ci.yml
  setup.cfg
  tests/test_events.py
Labels: installation/packaging, tests

#2007 Remove unused dependency: websockets
  setup.cfg
Labels: installation/packaging

#2033 Handle brittle caplog checks
  opsdroid/connector/matrix/tests/test_connector_connect.py
Labels: tests, connector, connector/matrix

#2031 Relax coverage requirements
  codecov.yml
  docs/maintaining/overview.md
Labels: documentation
