Repository opsdroid/opsdroid, pull requests merged in 2025-03, with the labels that each got.

#2054 Fixing the CI build by adjusting the supported Python versions and switching no longer compatible dependencies
  .github/workflows/ci.yml
  .readthedocs.yml
  Dockerfile
  docs/maintaining/supported-python-versions.md
  opsdroid/connector/facebook/tests/test_connector_facebook.py
  opsdroid/connector/github/tests/test_connector_github.py
  opsdroid/connector/gitlab/tests/test_connector_gitlab.py
  opsdroid/connector/matrix/tests/conftest.py
  opsdroid/connector/matrix/tests/test_connector_actions.py
  opsdroid/connector/matrix/tests/test_connector_connect.py
  opsdroid/connector/matrix/tests/test_event_parsing.py
  opsdroid/connector/slack/tests/test_connector.py
  opsdroid/connector/telegram/tests/test_connector_telegram.py
  opsdroid/connector/twitch/tests/test_connector_twitch.py
  opsdroid/core.py
  opsdroid/database/redis/__init__.py
  opsdroid/database/redis/tests/test_redis.py
  opsdroid/database/sqlite/tests/test_database_sqlite.py
  opsdroid/events.py
  opsdroid/parsers/tests/test_parser_catchall.py
  opsdroid/parsers/tests/test_parser_format.py
  opsdroid/parsers/tests/test_parser_watson.py
  opsdroid/skill/tests/test_skill.py
  opsdroid/testing/__init__.py
  opsdroid/testing/asynccontextmanager.py
  opsdroid/testing/mockmodules/connectors/connector_mocked.py
  opsdroid/testing/mockmodules/connectors/mocked/__init__.py
  opsdroid/tests/test_connector.py
  opsdroid/tests/test_core.py
  opsdroid/tests/test_web.py
  setup.cfg
  tests/test_connector_matrix.py
  tests/test_connector_mattermost.py
  tests/test_connector_rocketchat.py
  tests/test_connector_shell.py
  tests/test_connector_webexteams.py
  tests/test_connector_websocket.py
  tests/test_constraints.py
  tests/test_core.py
  tests/test_database_matrix.py
  tests/test_events.py
  tests/test_message.py
  tests/test_parser_always.py
  tests/test_parser_crontab.py
  tests/test_parser_dialogflow.py
  tests/test_parser_event_type.py
  tests/test_parser_luisai.py
  tests/test_parser_rasanlu.py
  tests/test_parser_regex.py
  tests/test_parser_sapcai.py
  tests/test_parser_witai.py
  tox.ini
Labels: documentation, parser, installation/packaging, tests, connector, database, connector/matrix, connector/slack, connector/facebook, connector/telegram, connector/github, connector/twitch

#2023 Fixes on Slack Connector Documentation file
  docs/connectors/slack.md
  docs/examples/contact-manager.md
Labels: documentation

#2046 unittest to pytest Test message
  opsdroid/testing/fixtures.py
  opsdroid/tests/test_message.py
  tests/test_message.py
Labels: tests

#2055 Re-implemented Mattermost connector
  docs/connectors/mattermost.md
  opsdroid/connector/mattermost/__init__.py
  opsdroid/connector/mattermost/connector.py
  opsdroid/connector/mattermost/driver.py
  opsdroid/connector/mattermost/endpoints/__init__.py
  opsdroid/connector/mattermost/endpoints/base.py
  opsdroid/connector/mattermost/endpoints/channels.py
  opsdroid/connector/mattermost/endpoints/posts.py
  opsdroid/connector/mattermost/endpoints/teams.py
  opsdroid/connector/mattermost/endpoints/users.py
  opsdroid/connector/mattermost/tests/__init__.py
  opsdroid/connector/mattermost/tests/conftest.py
  opsdroid/connector/mattermost/tests/responses/teams.opsdroid.channel.unit_test_channel.success.json
  opsdroid/connector/mattermost/tests/responses/users.me.success.json
  opsdroid/connector/mattermost/tests/responses/websocket.message.success.json
  opsdroid/connector/mattermost/tests/responses/websocket.success.json
  opsdroid/connector/mattermost/tests/skills.py
  opsdroid/connector/mattermost/tests/test_connector.py
  opsdroid/testing/external_api.py
  tests/test_connector_mattermost.py
Labels: documentation, tests, connector
